


<div class="container">
	<row>
	 	<%if @position%>
	 	<h1 class="col-md-12 positionname"><%=@position.name%></h1>
		<%end%>
	</row>
  <row>
       <div class="col-md-12 topic-title"><h3>熱門精選</h3></div>
  </row>
  <row>
           <div class="col-md-3">
             <div class="list">
               <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
               <div class="topic-author">姓名：阿嬤</div>
               <div class="topic-industry">產業：無產階級</div>
               <div class="topic-position">職稱：老佛爺</div>
               <div class="excerpt">
                     文章開頭：阿嬤只是睡著了
               </div>
                <div class="meta">
               <div class="fa fa-wheelchair fa-3x"></div>
                 <a href="#" class="more">阿嬤沒感覺</a>
               </div>
             </div>
           </div>
           <div class="col-md-3">
             <div class="list">
             <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
             <div class="topic-author">姓名：阿嬤</div>
             <div class="topic-industry">產業：無產階級</div>
             <div class="topic-position">職稱：老佛爺</div>
             <div class="excerpt">
                  文章開頭：阿嬤只是睡著了
             </div>
               <div class="meta">
               <div class="fa fa-wheelchair fa-3x"></div>
               <a href="#" class="more">阿嬤沒感覺</a>
             </div>
             </div>
           </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">
                <div class="fa fa-wheelchair fa-3x"></div>
                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">
                <div class="fa fa-wheelchair fa-3x"></div>
                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
              </div>
            </div>
      </row>
     </div>

 	<div class="col-md-2 sidebarlist">
			<div class="list-group">
				<%@industries.each do |i|%>
				<%=link_to i.name,topics_path(:i=>i.id,:p=>params[:p]),:class=>"list-group-item"%>
				<%end%>
			</div>
	</div>



					<%= render :partial => "list", :locals => { :topics => @topics } %>

	</row>


</div>

