


<hr>
  <div class="container">
    <div class="img-caseshow">
     <div class="row">
      <div class="col-md-12">
       <div class="thumb-big">
        <figure>
          <img src="http://placehold.it/960x250" alt="">
            <figcaption><a href="#">Stepout Tagline</a></figcaption>
        </figure>
       </div>
      </div>
     </div>
    </div>
  </div>
  <div class="container">
    <div class="position-square">
    <div class="row">
      <div class="col-md-3">
       <div class="list">
         <h2 class="title"><a href="#">行銷</a></h2>
         <div class="list-thumb"><a href="#"><img src="http://placehold.it/235x194" alt=""></a></div>
         <div class="date">Saturday, May 17, 2014</div>
         <div class="excerpt">酸宗痛，只好違背坐好坐滿的承諾。
         </div>
         <div class="meta">
           <div class="facebook-widget">讚</div>
           <a href="#" class="more">MORE</a>
         </div>
       </div>
      </div>
      <div class="col-md-3">
       <div class="list">
         <h2 class="title"><a href="#">詐騙集團</a></h2>
         <div class="list-thumb"><a href="#"><img src="http://placehold.it/235x194" alt=""></a></div>
         <div class="date">Saturday, May 17, 2014</div>
         <div class="excerpt">酸宗痛，只好違背坐好坐滿的承諾。
         </div>
         <div class="meta">
           <div class="facebook-widget">讚</div>
           <a href="#" class="more">MORE</a>
         </div>
       </div>
      </div>
      <div class="col-md-3">
       <div class="list">
         <h2 class="title"><a href="#">PM</a></h2>
         <div class="list-thumb"><a href="#"><img src="http://placehold.it/235x194" alt=""></a></div>
         <div class="date">Saturday, May 17, 2014</div>
         <div class="excerpt">酸宗痛，只好違背坐好坐滿的承諾。
         </div>
         <div class="meta">
           <div class="facebook-widget">讚</div>
           <a href="#" class="more">MORE</a>
         </div>
       </div>
      </div>
      <div class="col-md-3">
       <div class="list">
         <h2 class="title"><a href="#">業務</a></h2>
         <div class="list-thumb"><a href="#"><img src="http://placehold.it/235x194" alt=""></a></div>
         <div class="date">Saturday, May 17, 2014</div>
         <div class="excerpt">酸宗痛，只好違背坐好坐滿的承諾。
         </div>
         <div class="meta">
           <div class="facebook-widget">讚</div>
           <a href="#" class="more">MORE</a>
         </div>
       </div>
      </div>
    </div>
   </div>
  </div>
  <div class="container">
     <div class="topic-flow">
       <div class="topic-title"><h3>人氣分享</h3></div>
         <div class="row">
           <div class="col-md-3">
             <div class="list">
               <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
               <div class="topic-author">姓名：阿嬤</div>
               <div class="topic-industry">產業：無產階級</div>
               <div class="topic-position">職稱：老佛爺</div>
               <div class="excerpt">
                     文章開頭：阿嬤只是睡著了
               </div>
                <div class="meta">
               <div class="fa fa-wheelchair fa-3x"></div>
                 <a href="#" class="more">阿嬤沒感覺</a>
               </div>
             </div>
           </div>
           <div class="col-md-3">
             <div class="list">
             <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
             <div class="topic-author">姓名：阿嬤</div>
             <div class="topic-industry">產業：無產階級</div>
             <div class="topic-position">職稱：老佛爺</div>
             <div class="excerpt">
                  文章開頭：阿嬤只是睡著了
             </div>
               <div class="meta">
               <div class="fa fa-wheelchair fa-3x"></div>
               <a href="#" class="more">阿嬤沒感覺</a>
             </div>
             </div>
           </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">
                <div class="fa fa-wheelchair fa-3x"></div>
                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="list">
              <div class="list-thumb"><a href="#"><img src="http://placehold.it/150x150" alt="" class="img-circle"></a></div>
              <div class="topic-author">姓名：阿嬤</div>
              <div class="topic-industry">產業：無產階級</div>
              <div class="topic-position">職稱：老佛爺</div>
              <div class="excerpt">
                文章開頭：阿嬤只是睡著了
              </div>
              <div class="meta">
                <div class="fa fa-wheelchair fa-3x"></div>
                <a href="#" class="more">阿嬤沒感覺</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
  <div class="container">
    <div class="activity-flow">
      <div class="activity-list"><h3>活動訊息</h3></div>
      <div class="row">
       <div class="col-md-3">
        <div class="list">
          <div class="list-thumb">
            <a href="#"><img src="http://placehold.it/240x160" alt="" class="img-fluid"></a>
          </div>
          <div class="meta">
            <div class="fa fa-wheelchair fa-3x"></div>
              <a href="#" class="more">阿嬤沒感覺</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list">
          <div class="list-thumb">
            <a href="#"><img src="http://placehold.it/240x160" alt="" class="img-fluid"></a>
          </div>
          <div class="meta">
            <div class="fa fa-wheelchair fa-3x"></div>
              <a href="#" class="more">阿嬤沒感覺</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list">
          <div class="list-thumb">
            <a href="#"><img src="http://placehold.it/240x160" alt="" class="img-fluid"></a>
          </div>
          <div class="meta">
            <div class="fa fa-wheelchair fa-3x"></div>
              <a href="#" class="more">阿嬤沒感覺</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list">
          <div class="list-thumb">
            <a href="#"><img src="http://placehold.it/240x160" alt="" class="img-fluid"></a>
          </div>
          <div class="meta">
            <div class="fa fa-wheelchair fa-3x"></div>
              <a href="#" class="more">阿嬤沒感覺</a>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
