<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="topic-title">
             <h1><%= @draft.name %></h1>
         </div>
      </div>

      <div class="col-md-3">
         <div class="draft-img"><%=image_tag("space.jpg")%></div>
      </div>
      <div class="col-md-4">

      </div>
   </div>
</div>