<div class="col-lg-4" >
  <div id="p1">
    <img class="img-circle" src="/Chris.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2>Chris</h2>
   <p>Greenpeace綠色和平
    <br>媒體與推廣主任</p>
  <p></p>
  </div>
  <div id="p1change">
    <p id="p1cp">文化新聞、交大傳播所畢，待過英文系報紙，又到大型證券商負責公關籌備事務，現在綠色和平擔任媒體公關主任一職，專長於民主、政治及世界局勢變化。</p>
  </div>
</div>
<div class="col-lg-4" >
  <div id="p2">
    <img class="img-circle" src="/Shane.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2>Shane</h2>
    <p>統一阪急百貨
    <br>行銷部整合行銷Team 副理</p>
  </div>
  <div id="p2change">
    <p id="p2cp">文化新聞畢業後即進入阪急百貨，有著豐富的提案及企劃經驗，現為行銷部整合行銷Team中擔任副理職位，對行銷企劃、百貨生態及零售業趨勢皆有獨到思考。</p>
  </div>
</div>

<div class="col-lg-4" >
  <div id="p3">
    <img class="img-circle" src="/Duncan.png" alt="Generic placeholder image" width="140" height="140">	
    <h2>Duncan</h2>
    <p>大昌華嘉
    <br>業務暨PM</p>
  </div>
  <div id="p3change">
    <p id="p3cp">元智經營管理碩士，畢業後義無反顧的踏上業務一職，經過國外業務的淬煉，現為大昌華嘉的藥品業務，並負責重要的藥品操作，對數據分析、業務技巧及醫療前景皆有深入研究。</p>
  </div>
</div>


<script>
  $(function(){
    $('#p1').on('mouseover', function(){
        $('#p1').css('display', 'none');
        $('#p1change').css({
          display:'block',
          fontSize:'20px',
          borderStyle:'solid',
          borderColor:'#EEEEEE',
          borderWidth:'1px',
          backgroundColor:'#fff',
          height:'250px',
          textAlign:'center'
          });
        $('#p1cp').css({
          width:'250px',
          margin:'50px'
          });

    });
    $('#p1change').on('mouseout', function(){
        $('#p1').css('display', 'block');
        $('#p1change').css({
          display:'none',
          });
    });


    $('#p2').on('mouseover', function(){
        $('#p2').css('display', 'none');
        $('#p2change').css({
          display:'block',
          fontSize:'20px',
          borderStyle:'solid',
          borderColor:'#EEEEEE',
          borderWidth:'1px',
          backgroundColor:'#fff',
          height:'250px',
          textAlign:'center'
          });
        $('#p2cp').css({
          width:'250px',
          margin:'50px'
          }); 
    });
    $('#p2change').on('mouseout', function(){
        $('#p2').css('display', 'block');
        $('#p2change').css({
          display:'none',
          });
    });


        $('#p3').on('mouseover', function(){
        $('#p3').css('display', 'none');
        $('#p3change').css({
          display:'block',
          fontSize:'20px',
          borderStyle:'solid',
          borderColor:'#EEEEEE',
          borderWidth:'1px',
          backgroundColor:'#fff',
          height:'250px',
          textAlign:'center'
          });
        $('#p3cp').css({
          width:'250px',
          margin:'50px'
          });
    });
    $('#p3change').on('mouseout', function(){
        $('#p3').css('display', 'block');
        $('#p3change').css({
          display:'none',
          });
    });    


});

</script>