.stepout-logo img{
  width: 100px;
  height: 50px;
}

.navbar-brand-admin {
  padding: 0px;
  margin-top: 0px;

}

.navbar-brand-admin span{
  color: orange;
  padding: 0px;
  margin-top: 0;
 }

 .admin-sidebarlist {
  padding-left: 0;
 }