

.sidebarlist{
/*	margin-bottom:1800px;*/
}

.commentcontent{
	max-width:400px;
}

.pag{
	margin-left:200px;
}


.positionname{
	/*padding-left:200px;*/
}

.sidebarlist{
	
}

.maintable{
	padding-top: 50px;
	/*padding-left: 200px;*/
}

.topicbox{
	
	height:300px;
	margin-bottom:50px;
	border-radius:10px;
	font-size:25px;
	background-color:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#EEEEEE;
}


.topicorder{
	text-align:right;
}


.topicboxphoto{
padding:0;
margin:0;
height:200px;
/*width:150px;*/
}
.topicboxphoto img{
margin:40px;
max-height:200px;
max-width:200px;
/*width:150px;*/

}



.topicboxmain {
	overflow: auto;
}

.topicboxmain row p {
	overflow: hidden;
}

@media (min-width: 768px) {
.maintable{
	padding-top: 50px;
	padding-left: 200px;
}

.sidebarlist{
	font-size:26px;
	text-align:center;
	margin-bottom:800px;
	
}


.topicboxmain{
	/*border-style:solid;*/
	background-color:#fff;
	max-height:300px;
	margin-right:0px;
	border-radius:10px;
}


}
.topicimage img{
height:150px;
width:150px;
}

.list-thumb img{
	width:215px;
	height:194px;
}



@media (max-width: 400px){



.topicboxphoto{
display:none;
}

.topicboxmain {
	overflow: auto;
	z-index:100;
}
	
}



#welcome{
	background-color:white;
	margin:10px;
}

#line{
	background-color:#F9F9F9;
	height:10px;
}

#topictime{
	text-align:right;
	font-size:20px;
}

#fblike{
	text-align:right;	
}

#subcount{
	text-align:right;
	font-size:20px;
}

#topicintro{
	font-size:20px;

}


