.user-container {
  margin-top: 60px;
}


.userboxmain{
	height:220px;
	border-style:solid;
	border-width:1px;
	border-color:#EEEEEE;
	margin-top:20px;
	background-image:asset-url("stepout.png");




}

.userboxsub{
	height:220px;
	margin-top:20px;
	border-style:solid;
	border-width:1px;
	border-color:#EEEEEE;
	background-image:url("stepout.png");	
}


.userboxphoto{
  margin:0px;
  padding:0px;
}

.userboxphoto img{
	height:200px;
  width:180px;
  margin:10px;
}

.userboxname{
	font-size:20px;
	margin:5px;
	margin-top:20px;
}

.userboxposition{
	font-size:18px;
	margin:5px;
	margin-top:10px;
	margin-left:10px;
}


.userboxintro{
	font-size:16px;
	margin-right:10px;
	margin-top:20px;
}

.userboxsuba{
	font-size:16px;
	margin-top:10px;
	margin-left:20px;

}
.userboxsubt{
	font-size:16px;
	margin-top:40px;
	margin-left:20px;

}

.userifo{
	
}

.username{
	
}

.userposition{
	
}

#suba{
	color:gray;
}