.logo img{
	width:100px;
	height:30px;
}


.welcomeposition{
width:250px;	
margin:70px;
margin-top:50px;
}

.welcomeposition img{
	width:250px;
	height:200px;
	border-style:solid;
	border-width:1px;
	border-color:#EEEEEE;
}

.wpdescription{
	width:250px;
	height:200px;
	display:block;
	background-color:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#EEEEEE;	

	
}

.wpdescription p{
max-width:250px;
}

.welcomeac{
	margin-top:50px;
margin-left:0px;
margin-right:0px;
padding:0px;
margin-bottom:100px;
}

.welcomeac img{
	width:650px;
	height:300px;
	margin-left:0px;
margin-right:0px;
padding:0px;
}


#p1change{
 display:none;	
}

#p2change{
 display:none;	
}

#p3change{
 display:none;	
}

#welcomeh1{
	text-align:center;
	margin-top:50px;
}

#welcomeh5{
	text-align:center;
}