.welcomeposition{
width:250px;	
margin:20px;
}

.welcomeposition img{
	width:250px;
	height:200px;
}

.wpdescription{
	width:250px;
	height:100px;
	display:block;
	background-color:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#EEEEEE;	

	
}

.wpdescription p{
max-width:250px;
}

.welcomeac{
	margin-top:50px;
margin-left:0px;
margin-right:0px;
padding:0px;
}

.welcomeac img{
	width:580px;
	height:200px;
	margin-left:0px;
margin-right:0px;
padding:0px;
}